* text=auto eol=lf

*.gd    text
*.tscn  text
*.tres  text
*.godot text
*.json  text
*.md    text
*.import text

*.png binary
*.jpg binary
*.ogg binary
*.wav binary
*.mp3 binary
*.als binary
*.asd binary
*.ttf binary
